In [1]:
#list of list
import pandas as pd

l1=[[11,22,33],[44,55,66],[77,88,99]]
df1=pd.DataFrame(l1)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

In [ ]:
#dict of list
d={
    'amzn':[300,400,500,600],
    'tsla':[122,567,897,456],
    'goog':[657,453,789,890],
}
df2=pd.DataFrame(d)
df2

   amzn  tsla  goog
0   300   122   657
1   400   567   453
2   500   897   789
3   600   456   890

In [3]:
#list of dict
d1=[{'open':100,'high':500,'low':789,'close':765},
    {'open':67,'high':789,'low':789,'close':765},
    {'open':100,'high':500,'low':789,'close':765}]
df3=pd.DataFrame(d1)
df3

   open  high  low  close
0   100   500  789    765
1    67   789  789    765
2   100   500  789    765