In [26]:
import pandas as pd
df=pd.read_csv('/Users/algo trading 2025/batch34/11_data analysis/unicorn.csv')
df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [5]:
df=df.set_index('Company')

In [7]:
df.loc['SHEIN','Date Joined']

'03-07-2018'

In [10]:
df.loc['Zopa','Year Founded']

np.int64(2005)

In [13]:
df.loc['SHEIN':'Stripe','Date Joined':'Industry']

        Date Joined                         Industry
Company
SHEIN    03-07-2018  E-commerce & direct-to-consumer
Stripe   23-01-2014                          Fintech

In [16]:
df.loc['Zhaogang':'Zwift','Continent':'Funding']

                 Continent  Year Founded  Funding
Company
Zhaogang              Asia          2012    379.0
Zhuan Zhuan           Asia          2015    990.0
Zihaiguo              Asia          2018     80.0
Zopa                Europe          2005    792.0
Zwift        North America          2014    620.0

In [18]:
df.iloc[0,0]

np.int64(180)

In [22]:
df.iloc[-4,-5]

'Beijing'

In [25]:
df.iloc[-3:,0:3]

          Valuation Date Joined                         Industry
Company
Zihaiguo          1  06-05-2021                Consumer & retail
Zopa              1  19-10-2021                          Fintech
Zwift             1  16-09-2020  E-commerce & direct-to-consumer

In [28]:
df.set_index('Company',inplace=True)

In [31]:
df.set_index('Industry',inplace=True )

In [30]:
df.reset_index()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [32]:
df

,Valuation,Date Joined,City,Country,Continent,Year Founded,Funding
Industry,,,,,,,
Artificial intelligence,180,07-04-2017,Beijing,China,Asia,2012,NaN
Other,100,01-12-2012,Hawthorne,United States,North America,2002,7.0
E-commerce & direct-to-consumer,100,03-07-2018,Shenzhen,China,Asia,2008,2.0
Fintech,95,23-01-2014,San Francisco,United States,North America,2010,2.0
Fintech,46,12-12-2011,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...
E-commerce & direct-to-consumer,1,29-06-2017,Shanghai,China,Asia,2012,379.0
E-commerce & direct-to-consumer,1,18-04-2017,Beijing,China,Asia,2015,990.0
Consumer & retail,1,06-05-2021,Chongqing,China,Asia,2018,80.0
Fintech,1,19-10-2021,London,United Kingdom,Europe,2005,792.0
E-commerce & direct-to-consumer,1,16-09-2020,Long Beach,United States,North America,2014,620.0