In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan],
    "B": [2.4,np.nan, 5.1, np.nan],
    "C": ["foo","zoo","bar", 77]
})
print(df)

     A    B    C
0  1.0  2.4  foo
1  2.0  NaN  zoo
2  3.0  5.1  bar
3  NaN  NaN   77

In [3]:
df.fillna(1)

     A    B    C
0  1.0  2.4  foo
1  2.0  1.0  zoo
2  3.0  5.1  bar
3  1.0  1.0   77

In [5]:
df.dropna(axis=1)

     C
0  foo
1  zoo
2  bar
3   77

In [7]:
df.bfill(axis=1)

/var/folders/d_/rsnj8g2n4f362bxt3tz9n95w0000gn/T/ipykernel_61486/3390626696.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.bfill(axis=1)

     A    B    C
0  1.0  2.4  foo
1  2.0  zoo  zoo
2  3.0  5.1  bar
3   77   77   77

In [9]:
df.ffill(axis=1)

/var/folders/d_/rsnj8g2n4f362bxt3tz9n95w0000gn/T/ipykernel_61486/1349111183.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.ffill(axis=1)

     A    B     C
0  1.0  2.4   foo
1  2.0  2.0   zoo
2  3.0  5.1   bar
3  NaN  NaN  77.0

In [12]:
df.drop('B',axis=1)

     A    C
0  1.0  foo
1  2.0  zoo
2  3.0  bar
3  NaN   77